PORT=5000
MONGO_URI=mongodb://muhammadanshar056:1141981181@ac-rn3lzqo-shard-00-00.dtrxe4a.mongodb.net:27017,ac-rn3lzqo-shard-00-01.dtrxe4a.mongodb.net:27017,ac-rn3lzqo-shard-00-02.dtrxe4a.mongodb.net:27017/project?ssl=true&replicaSet=atlas-swm0lf-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
